/* -------------u-header------------------ */

.u-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.u-header-white {
    background-color: white;
}

.u-header-top {
    display: flex;
    justify-content: space-between;
}

.u-header-logo img {
    height: 60px;
    margin: 5px 0px;
}

.u-header-logo {
    min-width: 200px;
}

.u-header-contact>div {
    display: flex;
}

.u-header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #a5a5a5;
    border-right: 1px solid #a5a5a5;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}

.u-header-contact a {
    color: #444;
    margin-right: 10px;
    font-weight: 600;
    font-size: 14px;
}

.u-header-contact a:hover {
    color: #d4ae25;
}

.u-header-contact i {
    color: #d4ae25;
    transform: rotate(90deg);
    margin-right: 10px;
    font-size: 15px;
}

.u-header-actions {
    display: flex;
    align-items: center;
    border-right: 1px solid #a5a5a5;
    padding: 0 25px;
    position: relative;
}

.u-header-action {
    margin: 0px 12px;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.u-header-action i {
    margin-right: 7px;
    color: #d4ae25;
    font-size: 20px;
}

.u-header-action a {
    color: #444;
}

.u-header-action a:hover {
    color: #d4ae25;
}

.u-header-social {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.u-header-social i {
    font-size: 16px;
}

.u-header-action .dropdown-item {
    color: #444;
    font-size: 13px;
}

.u-header-action .dropdown-item:hover {
    color: #d4ae25;
}

.u-header-nav {
    border-top: 1px solid #a5a5a5;
    background-color: rgba(255, 255, 255, 0.5);
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    position: relative;
}

.open {
    background-color: white;
}

.u-header-nav-list {
    display: flex;
    height: 50px;
}

.u-header-nav-list li {
    height: 100%;
}

.u-header-nav-list li+li {
    margin-left: 40px;
}

.u-header-nav-list li>a {
    display: block;
    line-height: 50px;
    text-transform: uppercase;
    color: #444;
    font-weight: 500;
}

.u-header-nav-list li a:hover {
    color: #d4ae25;
}

.u-header-dropdown {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 30px 0px;
    border-top: 1px solid #a5a5a5;
    display: none;
}

.u-header-dropdown-flex {
    display: flex;
}

.u-header-dropdown:hover {
    display: block;
}

.u-header-nav-list li a:hover+.u-header-dropdown {
    display: block;
}

.u-header-nav-sub-list {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.u-header-nav-sub-list a {
    font-size: 13px;
    color: #343434 !important;
    margin-bottom: 15px;
    line-height: 17px;
}

.u-header-nav-sub-list a:hover {
    color: #d4ae25 !important;
}

.u-header-nav-sub-content {
    border-left: 1px solid #a5a5a5;
    margin-left: 20px;
    padding-left: 50px;
}

.u-header-nav-sub-item {
    display: none;
}

.u-header-nav-sub-item.show {
    display: flex!important;
}

.u-header-nav-sub-img img {
    min-width: 225px;
    max-width: 225px;
}

.u-header-nav-sub-img {
    margin-right: 25px;
}

.u-header-nav-sub-title {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1.7px;
    color: #d4ae25;
    text-transform: uppercase;
}

.u-header-nav-sub-more {
    font-size: 15px;
    color: #d4ae25;
}

.u-header-nav-sub-text {
    font-size: 13px;
    line-height: 25px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 10px;
}

.u-header-menu-toggle {
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.u-header-phone {
    display: none;
}

.u-header-phone i {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4ae25;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

.u-header-mobile-phone {
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: white;
    display: none;
    transition: 0.3s;
}

.u-header-mobile-phone.show {
    display: flex;
}

.u-header-mobile-phone a {
    color: #d4ae25;
}

.u-header-mobile {
    display: none;
}

.u-header-search-form {
    position: absolute;
    left: 25px;
    width: calc(100% - 50px);
    background-color: white;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.u-header-search-form div {
    display: flex;
    align-items: center;
}

.u-header-search-close {
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #d4ae25;
    font-size: 14px;
}

.u-header-search-close i {
    font-size: 14px;
    margin-left: 3px;
}

.u-header-search-close:hover i {
    position: relative;
    right: -3px;
}

@media screen and (max-width: 1199px) {
    .u-header-contact span {
        display: none;
    }
    .u-header-nav-sub-img img {
        min-width: 170px;
        max-width: 170px;
    }
}

@media screen and (max-width: 992px) {
    .u-header-nav,
    .u-header-contact,
    .u-header-actions {
        display: none !important;
    }
    .u-header-mobile-content {
        position: relative;
    }
    .u-header-menu-toggle {
        display: flex;
    }
    .u-header-logo {
        min-width: auto;
    }
    .u-header-logo img {
        height: 40px;
    }
    .u-header-phone {
        display: flex;
        align-items: center;
    }
    .u-header-mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .u-header-mobile-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .u-header-mobile-menu {
        overflow-y: auto;
        position: absolute;
        top: 0;
        left: -100%;
        width: 370px;
        height: 100%;
        background-color: white;
        z-index: 999;
    }
    .u-header-mobile-close {
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 24px;
        color: #d4ae25;
        cursor: pointer;
    }
    .u-header-mobile-search {
        border-bottom: solid 1px rgba(151, 151, 151, 0.5);
        margin: 80px 30px 15px 70px;
        padding-bottom: 10px;
    }
    .u-header-mobile-search i {
        color: #d4ae25;
        margin-right: 10px;
    }
    .u-header-mobile-link a {
        display: flex;
        justify-content: space-between;
        line-height: 50px;
        padding-left: 70px;
        padding-right: 30px;
        color: #888;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .u-header-mobile-link a i {
        color: #d4ae25;
    }
    .u-header-mobile-contact {
        padding: 30px 30px 30px 70px;
        border-top: solid 1px rgba(151, 151, 151, 0.5);
        border-bottom: solid 1px rgba(151, 151, 151, 0.5);
        justify-content: flex-start;
        margin-top: 20px;
        border-left: 0;
        border-right: 0;
    }
    .u-header-mobile-actions {
        padding: 30px 30px 30px 70px;
    }
    .u-header-mobile-actions .u-header-action {
        margin-left: 0;
        font-size: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 50px;
    }
    .u-header-menu-sub {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9;
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .u-header-mobile-actions,
    .u-header-mobile-contact {
        padding: 30px;
    }
    .u-header-mobile-search {
        margin-left: 30px;
    }
    .u-header-mobile-link a {
        padding-left: 30px;
    }
    .u-header-mobile-menu {
        width: 100%;
    }
    .u-header-mobile-close {
        left: auto;
        right: 30px;
    }
}